#wrap{
	width: 750px;
	margin: 0 auto;
}
#head{
	text-align: center;
	font-size: 25px;
	font-family: "黑体";
	font-weight: bold;
}
#right{
	position: relative;
	left: 445px;
}
.scores{
	float: right;
}
.text1{
	border:1px white solid;
	border-bottom-color: black;
	padding: 3px 10px;
	width: 100px;
}
.my-height{
	height: 80px;
	line-height: 80px;
}
.my-fontfimary{
	font-family: "微软雅黑";
}
